/*
*    CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/)
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
*   Global styles
*/

:root {
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-dark-blue-main: hsl(217, 54%, 11%);
  --color-dark-blue-card: hsl(216, 50%, 16%);
  --color-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
  --font: "Outfit", sans-serif;
  --body-font-size: 1.125rem;
}

body {
  background-color: var(--color-dark-blue-main);
  font-family: var(--font);
  font-size: var(--body-font-size);
  color: var(--color-soft-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*
*   NFT preview card component styles
*/

.card {
  background-color: var(--color-dark-blue-card);
  max-width: 22rem;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 2rem 8rem rgb(0 0 0 / 0.2);
}

.card > * + * {
  margin-top: 1rem;
}

.card__image-link {
  display: block;
  position: relative;
}

.card__image-link::before {
  content: "";
  background-color: var(--color-cyan);
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.card__image-link:hover::before {
  opacity: 0.6;
}

.card__preview {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.card__image-link:hover .card__preview {
  opacity: 1;
}

.card__image {
  border-radius: 0.5rem;
}

.card__title {
  font-weight: 600;
  font-size: 1.375rem;
}

.card__link {
  text-decoration: none;
  color: var(--color-white);
}

.card__link:hover {
  color: var(--color-cyan);
}

.card__text {
  font-weight: 300;
}

.card__text--highlighted {
  font-weight: 400;
  color: var(--color-cyan);
}

.card__stats {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.card__stat {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card__footer {
  border-top: 1px solid var(--color-dark-blue-line);
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__avatar {
  width: 2.1875rem;
  border: 1px solid var(--color-white);
  border-radius: 50%;
}
